<form
  method="post"
  hx-post="{% if form.instance.pk %}{% url 'student_edit' form.instance.pk %}{% else %}{% url 'student_add' %}{% endif %}"
  hx-target="#modal"
  hx-swap="innerHTML">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div>
    {{ form.name.label_tag }}<br>
    {{ form.name }} {{ form.name.errors }}
  </div>
  <div>
    {{ form.roll_number.label_tag }}<br>
    {{ form.roll_number }} {{ form.roll_number.errors }}
  </div>
  <div>
    {{ form.class_name.label_tag }}<br>
    {{ form.class_name }} {{ form.class_name.errors }}
  </div>
  <div>
    {{ form.email.label_tag }}<br>
    {{ form.email }} {{ form.email.errors }}
  </div>
  <button type="submit">Save</button>
  <button type="button" onclick="document.getElementById('modal').innerHTML=''">Cancel</button>
</form>
